*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow-y: scroll;
  font-family: "Roboto", sans-serif;
  touch-action: manipulation;
}

p {
  line-height: 1.5;
}

a {
  cursor: pointer;
  color: inherit;
  font-weight: 500;
}

h3 {
  font-size: 18px;
  margin: 0 0 16px;
}

h4 {
  font-size: 18px;
  font-weight: 500;
  margin: 16px 0 12px;
}

.btn {
  border: none;
  background: none;
  color: var(--contrast);
  user-select: none;
  cursor: pointer;
  margin: 0;
  outline: 0;
  height: 36px;
  padding: 0 8px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
  transition: background 100ms;
}

.btn.filled {
  background: var(--contrast-3);
}

.btn.primary {
  color: var(--primary);
}

.btn.secondary {
  color: var(--secondary);
}

.btn:hover, .btn:focus {
  background: var(--contrast-2);
}

.btn:active, .btn.active {
  background: var(--contrast-1);
}

.btn:disabled {
  opacity: 0.6;
}

.card {
  background: var(--contrast-3);
  padding: 12px;
  font-size: 14px;
  margin: 16px 0;
  border-radius: 3px;
}

.card h5 {
  font-size: inherit;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

.input {
  border: 0;
  display: block;
  width: 100%;
  height: 36px;
  padding: 8px;
  background: var(--contrast-2);
  color: inherit;
  border-radius: 2px;
}

select option {
  color: initial;
}

.label {
  opacity: 0.8;
}

.label, .checkbox {
  display: block;
  margin: 8px 0;
  user-select: none;
  position: relative;
}

.checkbox span {
  cursor: pointer;
}

.checkbox input {
  appearance: none;
  pointer-events: none;
  position: absolute;
  height: 40px;
  width: 40px;
  top: -11px;
  left: -11px;
  outline: 0;
  opacity: 0;
  border-radius: 50%;
  background: var(--contrast-0);
}

.checkbox input:checked {
  background: var(--primary);
}

.checkbox input:focus, .checkbox input:active {
  opacity: 0.3;
}

.checkbox > span::before {
  content: "";
  display: inline-block;
  margin: 0 12px 0 0;
  border: 2px solid var(--contrast-0);
  border-radius: 2px;
  width: 18px;
  height: 18px;
  vertical-align: top;
  transition: border-color 0.2s, background-color 0.2s;
}

.checkbox > span::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 12px;
  height: 7px;
  border: solid 2px transparent;
  border-top: none;
  border-right: none;
  transform: translate(3px, 4px) rotate(-45deg);
}

.checkbox > input:checked + span::before {
  border-color: var(--primary);
  background-color: var(--primary);
}

.checkbox > input:checked + span::after {
  border-color: var(--background);
}

.checkbox > input:active + span::before {
  border-color: var(--primary);
}

.checkbox > input:checked:active + span::before {
  border-color: transparent;
  background-color: var(--contrast-0);
}

.checkbox > input:disabled + span {
  cursor: initial;
  opacity: 0.6;
}

.checkbox > input:disabled + span::before {
  border-color: currentColor;
}

.checkbox > input:checked:disabled + span::before {
  border-color: transparent;
  background-color: currentColor;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}

td,
th {
  border-right: 1px solid var(--contrast-3);
  padding: 12px;
  text-align: right;
}

tr:nth-child(2n) > * {
  background: var(--contrast-3);
}
td:last-child,
th:last-child {
  border-right: none;
}

.update-notification {
  position: fixed;
  bottom: 16px;
  left: 16px;
  min-width: 288px;
  max-width: calc(100vw - 32px);
  background: #2c2e33;
  color: #ffffff;
  font-size: 14px;
  display: flex;
  align-items: center;
  min-height: 48px;
  padding: 4px 8px 4px 16px;
  border-radius: 3px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.update-notification span {
  margin-right: 16px;
}

:root {
  --background: #f9f7f6;
  --background-darker: #f2f0f0;
  --primary: #089eaf;
  --secondary: #fc455c;
  --contrast: rgba(0, 0, 0, 0.75);
  --contrast-0: rgba(0, 0, 0, 0.4);
  --contrast-1: rgba(0, 0, 0, 0.16);
  --contrast-2: rgba(0, 0, 0, 0.1);
  --contrast-3: rgba(0, 0, 0, 0.07);
  --green: #282;
}

.dark {
  --background: #34363d;
  --background-darker: #2c2e33;
  --contrast: rgba(255, 255, 255, 0.85);
  --contrast-0: rgba(255, 255, 255, 0.35);
  --contrast-1: rgba(255, 255, 255, 0.16);
  --contrast-2: rgba(255, 255, 255, 0.1);
  --contrast-3: rgba(255, 255, 255, 0.05);
  --green: #7c7;
}
